.cajitas{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 7vw;
    height: 7vw;
}

.divCajitas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.letras{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 5vw;
    height: 5vw;
}

.divLetras{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}